@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1 style="font-family: 'Cookie', cursive;font-size:5.5em;">Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-12 center-block" style="margin-left:25%; margin-bottom:50px;">
        <h2 style="margin-left:8%;">Welcome to Contoso University</h2>
        <br />
        <br />

            <img src="~/images/university-pic.jpg" alt="university" style="width:600px;height:450px;" />
        
    </div>
    <br />
    <div class="col-md-5" style="margin-left:30px;">
        <img src="~/images/teacher-pic.jpg" alt="teacher" style="height:300px;width:400px;" />
        <h2>High Quality Education</h2>
        <p>Every teacher has years of experience and will help you succeed</p>
        
    </div>
    
    <div class="col-md-4" style="margin-left:180px;">
        <img src="~/images/classroom-pic.jpg" alt="classroom" style="height:300px;width:400px;"/>
        <h2>Smaller teacher to student Ratio</h2>
        <p>Experience a closer connection with teachers and receive more help with your assignments.</p>
    </div>
</div>